* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-title {
  color: rgba(110, 133, 255, 1);
  font-weight: bold;
}

.input-group {
  width: 40dvw !important;
}

#order-summary {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.link-light {
  text-decoration: none;
  color: black !important;
}

.shirt-card-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

.shirt-card-card:hover {
  background-color: rgba(110, 133, 255, 0.3);
}

.nav-link {
  font-family: "Roboto", sans-serif;
  color: black !important;
}

#order-confirmed-list {
  height: 100px;
}

#order-confirmed-img {
  overflow: hidden;
}
